{%- if site.footer_content -%}
  <p class="text-small text-grey-dk-100 mb-0">{{ site.footer_content }}</p>
{%- endif -%}

<!-- Statcounter tracking code -->
<script type="text/javascript">
  var sc_project = 13119772;
  var sc_invisible = 1;
  var sc_security = "7702964a";
</script>
<script type="text/javascript"
        src="https://www.statcounter.com/counter/counter.js"
        async></script>
<noscript>
  <div class="statcounter">
    <a title="web stats"
       href="https://statcounter.com/" target="_blank">
      <img class="statcounter"
           src="https://c.statcounter.com/13119772/0/7702964a/1/"
           alt="web stats"
           referrerPolicy="no-referrer-when-downgrade" />
    </a>
  </div>
</noscript>
