<!--

<button class="btn js-toggle-dark-mode">
  <span class="obj-default-theme">☀️</span>
  <span class="obj-dark-theme">🌙</span>
</button>

<script>
const toggleDarkMode = document.querySelector('.js-toggle-dark-mode');

jtd.addEvent(toggleDarkMode, 'click', function(){
  if (jtd.getTheme() === 'dark') {
    jtd.setTheme('default');
  } else {
    jtd.setTheme('dark');
  }
});
</script>


<nav aria-label="Auxiliary" class="aux-nav">
  <ul class="aux-nav-list">
    {% for link in site.aux_links %}
      <li class="aux-nav-list-item">
        <button class="btn js-toggle-dark-mode">Dark color scheme</button>
      </li>
    {% endfor %}
  </ul>
</nav>

<script>
  const toggleDarkMode = document.querySelector('.js-toggle-dark-mode');
  
  jtd.addEvent(toggleDarkMode, 'click', function(){
    if (jtd.getTheme() === 'dark') {
      jtd.setTheme('light');
      toggleDarkMode.textContent = 'Dark color scheme';
    } else {
      jtd.setTheme('dark');
      toggleDarkMode.textContent = 'Return to the light side';
    }
  });
  </script>



DARK
-->
